<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.banasiak.android.openvpntile">

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    tools:ignore="AllowBackup,GoogleAppIndexingWarning" >

    <activity
      android:name=".LongPressActivity"
      android:theme="@android:style/Theme.Translucent.NoTitleBar">
      <intent-filter>
        <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES"/>
      </intent-filter>
    </activity>

    <service
      android:name=".QuickSettingsService"
      android:icon="@drawable/ic_icon"
      android:label="@string/tile_name"
      android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
      <intent-filter>
        <action android:name="android.service.quicksettings.action.QS_TILE"/>
      </intent-filter>
    </service>

  </application>

</manifest>
